@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Yanone+Kaffeesatz');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#statbar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100vw;
    height: 5vh;
    color: white;
    font-family: Playfair Display;
    font-size: 1.5rem;
}

#healthBar1 {
    width: 50vw;
    height: 5vh;
    background-color: #A4EC2A;
}

#healthBar2 {
    width: 50vw;
    height: 5vh;
    background-color: #FF5A5A;
}

#mainbody {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.charstyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 20vw;
    height: 60vh;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 15vh;
    text-align: center;
    font-family: Yanone Kaffeesatz;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

#boxoption1,
#boxoption2,
#boxoption3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#line {
    width: 100%;
}

.playerimg {
    width: 100%;
    height: 100%;
}

#player {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
}

#computer {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}